<div class="dropdownMenu">
    <button onclick="dropdownMenu()" id="menubtn">≡</button>

    <div id="myDropdown" class="menu-content">
        <a id="addCourse" href="addCourse">Add Course</a>
        <a id="addDepartment" href="addDepartment">Add Department</a>
        <a id="modifyCourse" href="modifyCourses">Modify Course</a>
        <button type="button" id="removeCourse" onclick="hideButton();removeCoursesHandler();">Remove Course</button>
        <a id="logout" href="/logout">Logout</a>
    </div>
    <button id="deleteCourses" style="display:none;" onclick="displayConfirmation();deleteCoursesHandler();">Delete Courses</button>
    <button id="cancelRemove" style="display:none;" onclick="showButton();cancelRemoveCoursesHandler();">X</button>
</div>
<script>

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

    // Hide and show dropdown button when remove courses is clicked
    function hideButton() {
        document.getElementById("deleteCourses").style.display = "inline-block";
        document.getElementById("cancelRemove").style.display = "inline-block";
        document.getElementById("menubtn").style.display = "none";
    }

    function showButton() {
        document.getElementById("deleteCourses").style.display = "none";
        document.getElementById("cancelRemove").style.display = "none";
        document.getElementById("menubtn").style.display = "block";
    }

    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function dropdownMenu() {
        document.getElementById("myDropdown").classList.toggle("show");
        var menuButton = document.getElementById("menubtn");
        if (menuButton.innerText === "x") {
            menuButton.innerText = "≡";
        }
        else {
            menuButton.innerText = "x";
        }
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        var menuButton = document.getElementById("menubtn");
        if (!event.target.matches('#menubtn')) {
            menuButton.innerText = "≡";
            var dropdowns = document.getElementsByClassName("menu-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    // Send delete course request to server
    const deleteCoursesHandler = async () => {
        const confirmation = await window.parent.deleteConfirmation();
        deleteCoursesList = document.getElementById("deleteCoursesList");
        if (confirmation == true){
            
        Array.from(deleteCoursesList.options).forEach(async (course) => {
            let courseName = course.value;
            const result = await fetch('/api/deleteCourse', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    courseName
                })
            }).then((res) => res.json());

            if (result.status === 'ok') {
                console.log(courseName + " deleted successfully");
            } else {
                console.log(result.error);
                alert(result.error);
            }
        });

        alert('Courses deleted successfully');
        window.location = '/';
        }
            
        

    };

</script>