<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/courseCommentsStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Reviews</title>
</head>

<body>
    <% Reviews.forEach( (review) => { %>
    <div class="review">
        <div class="voting">
            <span id="voteResults"><%- review.comment_votes %> </span>
            <button id="upvote" onclick="upvote()" type="button"><span>▲</span></button>
            <button id="downvote" onclick="downvote()" type="button"><span>▼</span></button>
        </div>

        <p id="date">
            <% let timestamp = review._id.toString().substring(0, 8); 
            let options = { year: 'numeric', month: 'short', day: 'numeric' };%>
            <%- (new Date(parseInt(timestamp, 16) * 1000)).toLocaleDateString("en-US", options); %>
        </p>

        <div class="starRating">
            <% let nonChecked = 5 - review.rating; for (let i = 0; i < review.rating; i++) { %>
            <span class="fa fa-star fa-lg checked"></span>
            <% }; review.rating--; for (; review.rating < 4; review.rating++) { %>
            <span class="fa fa-star fa-lg"></span>
            <% }; %>
        </div>

        <p id="comment"><%- review.comment %> </p>

        <div class="keywords">
            <% for (let i = 0; i < review.keywords.length; i++) { %>
            <span class="keyword"><%- review.keywords[i] %> </span>
            <% } %> 
        </div>


        <div class="replyButtons">
            <% if (isAdmin) { %> 
                <button id="deleteRating" type="button">Delete Rating</a>
            <% } else { %> 
                <a id="reply" href="#">Reply to Comment</a>
                <a id="showRep" href="#">Show Replies</a>
            <% } %> 
        </div>

        <hr>

    </div>
    <% }) %>

    <script>
        var i = 0;
        document.getElementById('voteResults').innerHTML = i;

        /*For mongoDB if using ejs?
        var i = 0;
        i = document.getElementById('voteResults').innerHTML;
        */

        function upvote() {
            i++;
            document.getElementById('voteResults').innerHTML = i;
        }

        function downvote() {
            /* if it can't be negative
            if(i >= 0){
                i--;
                document.getElementById('voteResults').innerHTML = i;
            }
            */
            i--;
            document.getElementById('voteResults').innerHTML = i;
        }
    </script>
</body>

</html>