<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My UofC Course</title>
    <link rel="stylesheet" href="styles/indexStyle.css">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    Rate My UofC Course
                </div>
                <ul class="nav-items">
                    <li>
                        <% if (user) { %>
                            <%= user.email %>
                          <% } else { %>
                            <a href="/login">Login</a>
                          <% } %>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="header-container">
        <div class="wrapper">
            <header>
                <div class="header-content">
                    <div class="dept-select">
                        <select name="department" id="department">
                            <option value="" disabled selected hidden>Select a department</option>
                            <% Departments.forEach(departments => { %>
                                <option value="test"><%= departments.department %></option>
                          <% }) %>
                        </select>
                    </div>
                    <h2>OR</h2>
                    <div class="search-box">
                        <input type="text" placeholder="Enter a specific course">
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="body-container">
        <div class="wrapper">
            <h2>Popular Courses</h2>
            <div class="filters">
                <div class="course-filter">
                    <select name="filter" id="filter">
                        <option value="" disabled selected hidden>Filter</option>
                        <option value="200">200 Levels</option>
                        <option value="300">300 Levels</option>
                        <option value="400">400 Levels</option>
                        <option value="500">500 Levels</option>
                    </select>
                </div>
                <div class="course-sort">
                    <select name="sort-by" id="sort-by">
                        <option value="" disabled selected hidden>Sort By</option>
                        <option value="High-rating">Highest to Lowest Rated</option>
                        <option value="Low-rating">Lowest to Highest Rated</option>
                        <option value="Most">Most Rated</option>
                        <option value="Least">Least Rated</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <% Courses.forEach( (course)=> { %>
        <div class="course-content">
            <button type="button" class="collapsible"><%= course.course %>
                <!--avg star rating example-->
                <span class="fa fa-star fa-lg checked"></span>
                <span class="fa fa-star fa-lg checked"></span>
                <span class="fa fa-star fa-lg checked"></span> <!-- full star -->
                <span class="fa fa-star-half-full fa-lg"></span> <!-- half star-->
                <span class="fa fa-star fa-lg"></span> <!-- unrated -->
            </button>
            <div class="course-contents">
                <p><b>Description: </b>
                    <%= course.description %>
                </p>
                <p><b>Rating: </b>5/5 <b>from</b> 100 <b>students</b></p>
                <a href="review">Add a review</a>
                <p><b>Comments:</b></p>
                <iframe src="courseComments" height="261" width="446" style="border: none;"
                    title="Iframe Example"></iframe>
            </div>
        </div>
        <% }) %>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }

</script>

</html>